
@{
    ViewBag.Title = "Index";
}


<ul style="display: inline-block">
    <li>
        <a href="~/Home/index">Trang chủ</a>
    </li>
    <li>
        <a href="~/Home/HienThi">Content</a>
    </li>
</ul>

<h2>Xin chào các bạn</h2>

